{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"babel-plugin-import",
			{
				"libraryName": "@mui/material",
				"libraryDirectory": "esm",
				"camel2DashComponentName": false
			},
			"core"
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@mui/icons-material",
				"libraryDirectory": "esm",
				"camel2DashComponentName": false
			},
			"icons"
		],
		[
			"babel-plugin-transform-imports",
			{
				"@material-ui/core": {
					"transform": "@mui/material/esm/${member}",
					"preventFullImport": true
				},
				"@material-ui/icons": {
					"transform": "@mui/icons-material/esm/${member}",
					"preventFullImport": true
				}
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		"@babel/plugin-proposal-object-rest-spread"
	]
}
